body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

body,
html {
    height: 100%;
    /* color: #777; */
    background-color: #ffffff;
    line-height: 1.8;
    font-size: 2.7vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.typewrite span {
    border-right: .05em solid;
    animation: caret 0.7s step-end infinite;
}

@keyframes caret {

    from,
    to {
        border-color: tan
    }

    60% {
        border-color: transparent;
    }
}

/* Create a Parallax Effect */

.section1,
.section3,
.section5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.section1 {
    color: white;
    background-image:
        /* top, transparent red */
        linear-gradient(rgba(231, 231, 231, 0.2), rgba(231, 231, 231, 0.2)),
        url("/img/exchange_gift.jpg");
}

.section2 {
    color: rgba(33, 33, 33, .9);
    /* background-color: #ffd42d */
}

.section3 {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url("/img/meeting.jpg");
}

.section4 {
    /* color: #ffffff; */
    /* background-color: #214fc6; */
}

.section5 {
    /* color: sandybrown; */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url("https://images.pexels.com/photos/674268/pexels-photo-674268.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1920&h=1280");
}

.section6 {
    background-color: wheat;
}

.row {
    text-align: center;
    height: 100%;
}

.card {
    width: 300px;
}

.card-title {
    margin-top: 1rem;
}

ol,
ul {
    list-style: none;
}

.swap {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 28px;
    line-height: 14px;
    z-index: 10;
}

.swap a {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    padding: 4px;
}

.swap a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.swap a .hover-text {
    box-sizing: content-box;
    position: absolute;
    right: 15px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
    word-break: keep-all;
}

.swap a:hover .hover-text {
    opacity: 1;
}

.swap a:after {
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 4px;
    bottom: 0;
}

.cir_avatar {
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    margin: 3vh 5vh 3vh 5vh;
    /* border-style: solid; */
    border-width: 0.5vh;
}

.flex-container {
    padding: 1vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.leader .cir_avatar {
    border-color: rgb(255, 114, 180);
}

.flex-container .cir_avatar {
    border-color: gold;
}

/* Color asset
    #ffd42d
     */