body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    background-color: #ffffff;
    line-height: 1.8;
    font-size: 20px;
}

.typewrite span {
    border-right: .05em solid;
    animation: caret 1s step-end infinite;
}

@keyframes caret {
    from,
    to {
        border-color: black
    }
    60% {
        border-color: transparent;
    }
}

/* Create a Parallax Effect */

.section1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.section1 {
    background-image: /* top, transparent red */
    linear-gradient( rgba(161, 161, 161, 0.4), rgba(161, 161, 161, 0.4)),
    url(https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg);
}
/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("./img/meeting.jpg");
    min-height: 400px;
}

/* Third image (Contact) */

.bgimg-3 {
    background-image: url("https://images.pexels.com/photos/681794/pexels-photo-681794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    min-height: 400px;
}

.row {
    height: 100%;
}

.section2 {
    background-color: rgb(236, 254, 255)
}
