body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

body,
html {
    height: 100%;
    /* color: #777; */
    background-color: #ffffff;
    line-height: 1.8;
    font-size: 20px;
}

.typewrite span {
    border-right: .05em solid;
    animation: caret 1s step-end infinite;
}

@keyframes caret {

    from,
    to {
        border-color: black
    }

    60% {
        border-color: transparent;
    }
}

/* Create a Parallax Effect */

.section1,
.section3,
.section5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.section1 {
    color: #042c1e;
    background-image:
        /* top, transparent red */
        linear-gradient(rgba(161, 161, 161, 0.4), rgba(161, 161, 161, 0.4)),
        url(https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg);
}

.section2 {
    color: rgba(33, 33, 33, .9);
    /* background-color: #ffd42d */
}

.section3 {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
        url("/img/meeting.jpg");
}

.section4 {
    /* color: #ffffff; */
    /* background-color: #214fc6; */
}

.section5 {
    background-image: url("https://images.pexels.com/photos/674268/pexels-photo-674268.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1920&h=1280");
}

.row {
    height: 100%;
}

.card {
    width: 300px;
}

.card-title {
    margin-top: 1rem;
}

/* Color asset
    #ffd42d
     */